<!DOCTYPE html>
<html>
<head>
  <title>Dummy</title>
  <%= stylesheet_link_tag    "application" %>
  <%= stylesheet_link_tag    "let_me_in.application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <%= yield %>
  </div>


<%= javascript_include_tag "application" %>
<%= javascript_include_tag "let_me_in.application" %>

</body>
</html>
